.main {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid black;
  margin-left: 10%;
  padding: 30px;
  margin-top: 35px;
}

.first-Container {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  justify-content: space-evenly;
}

.text-boxOne {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid gold; */
}

.text-boxSec {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 96%;
  height: 30%;
  margin-left: 10px;
  /* border: 1px solid rgb(255, 0, 234); */
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.Second-Container {
  display: flex;
  /* border: 1px solid red; */
  flex-direction: column;
  justify-content: center;
  /* padding: 25px; */
  width: 50%;
}


.Sec_Text {
  margin-left: 25%;
  /* padding: 10px; */
}
